$background: #B7C4B5;
$headings: #690100;

body {
  background: url("../brickwall_@2X.png")
}

#newProduct {
  display: none;
}

.hide, .INFO {
  display: none;
}

.show {
  display: block;
}

h3, h1 {
  text-align: center;
  margin: 5%;
  color: $headings;
}

.bidView {
  display: none;
}

.bidView img {
  width: 60%;
}

.bid-info {
  width: 35%;
  float: right;
}

.bidView h3, .bidView p {
  text-align: right;
  margin: 0;
  padding: 5%;
}

.deleteItem {
  float: right;
  margin: 5%;
}

.tinyView {
  position: relative;
}

.backimg {
  width: 80%;
  height: 200px;
  margin: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.fullbackimg {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.INFO {
  position: relative;
  color: white;
}
