body {
  background: url("../brickwall_@2X.png");
  font-family: 'Special Elite', cursive; }

.loginContainer {
  margin-top: 10%;
  display: block;
  background: crimson;
  padding: 5%;
  color: ghostwhite;
  border-radius: 5%; }
  .loginContainer input {
    color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    border: none;
    height: 50px; }
  .loginContainer button {
    background: ghostwhite;
    color: dodgerblue;
    border-radius: 5%;
    border: 3px solid dodgerblue;
    font-weight: bold;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%; }

.header {
  display: none; }

#newProduct {
  display: none; }

.hide, .INFO {
  display: none; }

.show {
  display: block; }

h3, h1 {
  text-align: center;
  margin: 5%;
  color: black; }

.bidView {
  display: none; }

.bidView img {
  width: 60%; }

.bid-info {
  width: 35%;
  float: right; }

.bidView h3, .bidView p {
  text-align: right;
  margin: 0;
  padding: 5%; }

.deleteItem {
  float: right;
  margin: 5%; }

.bidItem {
  float: right;
  margin-left: 100%;
  margin-bottom: 5%;
  margin-right: 5%; }

.tinyView {
  position: relative; }

.backimg {
  width: 80%;
  height: 200px;
  margin: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.fullbackimg {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.INFO {
  position: relative;
  color: white; }

section {
  display: none; }

div.your-clock {
  margin-left: 5%; }

a:hover, a:focus {
  text-decoration: none; }
